<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

  </head>
  <body>
    <section class="page-header">
      <a href="/"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <section class="main-content">
      {% case page.breadcrumb_path %}
        {% when 'home'%}
          <p><a href="/">Home</a></p>
        {% when 'news' %}
          <p><a href="/">Home</a> - <a href="/news/">News</a></p>
      {% endcase %}
      <h1>{{ page.title }}</h1>
      {% if page.show_toc %}
        {% assign toc_h_min = page.toc_h_min | default: 2 %}
        {% assign toc_h_max = page.toc_h_max | default: 2 %}
        {% include toc.html html=content h_min=toc_h_min h_max=toc_h_max %}
      {% endif %}

      {{ content }}

      <footer class="site-footer">
        Diese Website ist Open Source. {% github_edit_link "Verbessere diese Seite" %}.
      </footer>
    </section>
  </body>
</html>
