<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

  </head>
  <body>
    <section class="page-header">
      <a href="/"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <section class="main-content">
      <p><a href="/">Home</a> - <a href="/news/">News</a></p>
      <h1>{{ page.date | date: "%d-%b-%Y" }} {{ page.title }}</h1>

      {{ content }}

      <p>
        {% if page.next %}
          <a href="{{ page.next.url }}">Neuerer Post</a>
        {% endif %}
        {% if page.next and page.previous %}
        -
        {% endif %}
        {% if page.previous %}
          <a href="{{ page.previous.url }}">Älterer Post</a>
        {% endif %}
      </p>
      <footer class="site-footer">
        Diese Website ist Open Source. {% github_edit_link "Verbessere diese Seite" %}.
      </footer>
    </section>
  </body>
</html>
